body{  
        height: 3380px;
        margin:0 auto;
        background-color: #202731; 
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h3{
    color: white;
    font-size: 45px;
    text-align: center;
    margin-top: 200px;
    
}




.progres-bar{
    background-color: #111111;
    max-width: 1100px;
    height: 400px;
    position: relative;
    left: 130px;
  
}

h4{
    color: #ffffff;
}


.skills{
    width: 400px;
    margin: 60px;
    color: black;
    position: relative;
    top: 20px;
    left: 300px;
}

.skill{
    margin: 20px 0;
}

.bar{
    background-color: #353b48;
    display: block;
    height: 10px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 3px;
    overflow: hidden;
    box-shadow: 0 0 10px #2187e7b3;
}

.bar span{
    height: 10px;
    float: left;
    background: #02ff02;
}


.php{
    width: 20%;
    animation: php 10s;
}


.js{
    width: 30%;
    animation: js 15s;
}

.css{
    width: 50%;
    animation: css 10s;
}


.boostrap{
    width: 25%;
    animation: boostrap 15s;
}

.python{
    width: 10%;
    animation: python 10s;
}

@keyframes php {
        0%{
            width: 0%;
        }

        100%{
            width: 20%;
        }
}

@keyframes js {
    0%{
        width: 0%;
    }

    100%{
        width: 30%;
    }
}

@keyframes css {
    0%{
        width: 0%;
    }

    100%{
        width: 50%;
    }   
}

@keyframes boostrap {
    0%{
        width: 0%;
    }

    100%{
        width: 25%;
    }

    
}

@keyframes python {
    0%{
        width: 0%;
    }

    100%{
        width: 10%;
    }   
}


.container {
    width: 0px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    grid-template-rows: 1fr 1fr 1fr ;
    grid-gap: 30px 20px;  
    position: relative;
    left: 200px;
    top: 50px;
}


.site{
    border-radius: 10px;
}



div.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #343D4A;
    color: #ffffff;
    height: 100px;
}


.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 700px;
}

li{
    list-style-type: none;
    font-size: 25px;
}

a{
    color: #ffffff;
    text-decoration: none;
}

.acceuil {
    
    border: none;
    background: transparent;
    cursor: pointer;
}

.acceuil:hover{
    background-color: rgb(6, 63, 221);
}

h2{
    font-size: 50px;
    color: #707070;
    font-weight: lighter;
}
@media (max-width: 600px) { 
            
    li{
        list-style: none;
        font-size: 15px;   
    }
     
    h2{
        font-size: 30px;
    }
}


/* <div class="nom-photo"> */

.nom-photo{
    background-color: #111111;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    
}

p.dev{
    color: #909499;
    font-size: 25px;
    position: relative;
    bottom: 60px;
}

p.slt{
    font-size: 25px;
    color: white;
    position: relative;
    top: 25px;
}


h1{
    color: white;
    font-size: 60px;
    position: relative;
    bottom: 20px;
}


@media (max-width: 600px) { 
    p.slt{
        font-size: 25px;
        color: white;
        position: relative;
        top: 25px;
    }
    
    
    h1{
        color: white;
        font-size: 40px;
        position: relative;
        bottom: 20px;
    }
}


.mes-freres{
    display: flex;
    align-items: center;
}


.child1 {
    position: absolute;
    top: 0px;
    
}
.child2 {
    z-index: 1;
    margin: 30px;
  
}


.child2:hover{
    transform: scale(1.3);
    transition: 0.3s all;
}



.child2:hover{
    transition: 0.4s all;
    box-shadow: -13px 13px 2px 1px rgba(18, 18, 59, 0.5);

}



.mon-groupe{
    position: relative;
    left: 30px;
    top: 30px;
    width: 0px;
    
}

p.abidjan{
    color: #ffffff;
    font-size: 25px;
    position: relative;
    bottom: 35px;
}


.informaticien{
    position: relative;
    top: 25px;
    font-size: 30px;
    width: 200px;
    color: #ffffff;
}

.perso{
    position: relative;
    left: 350px;
    width: 700px;
}

.id{
    font-size: 25px;
    color: #ffffff;
}

.info{
    font-size: 20px;
    color: #ffffff;
}


.perso2{
    position: relative;
    right: 173px;
    top: 230px;
    
}

.icone{
    position: relative;
    top: 20px;
    left: 100px;
 }  

 #about{
    background-color: #111111;
    max-width: 1100px;
    height: 400px;
    position: relative;  
    top: 150px;
    left: 130px;  
     
}

/* FORMULAIRE */
.form{
    background-color: #111111;
    max-width: 1400px;
    height: 450px;
    position: relative;
    bottom: 350px;
   
}

h3.contact{
    position: relative;
    bottom: 350px;
}

.text-nom{
    width: 500px;
    height: 30px;
    border-radius: 10px;
}

#message{
    width: 500px;
    border-radius: 10px;
}

button{
    background-color: rgb(46, 139, 87);
    width: 100px;
    height: 40px;
}

.icones{
   width: 400px;
   display: flex;
   flex-direction: column; 
   position: relative;
   left: 700px; 
   bottom: 250px;
}

.adresse{
    display: flex;
    align-items: center;
    justify-content: stretch;
    color: #ffffff;
    
}

#survey-form{
    
    width: 520px;
    display: flex;
    flex-direction: column;
    position: relative;
    top: 80px;
    left: 50px;
    margin: 10px;
}

.projet:hover{
    transform: scale(1.1);
    transition: 0.3s all;
}



.projet:hover{
    transition: 0.4s all;
    box-shadow: -13px 13px 2px 1px rgba(18, 18, 59, 0.5);

}

footer{
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 20px 100px;
	font-weight: 600;
    position: relative;
    bottom: 350px;
    color: #ffffff;
    font-size: 30px;
}